.genreBadge{
    background-color: rgba(247, 246, 246, 0.7);
    border: 1px solid rgba(185,203,65,0.7);
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: 550;
}

.genreBadgeList{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}